<nav class="navbar">
    <a href="/" class="icon-container">
        <img src="/assets/logo.png" alt="logo" class="icon" />
    </a>
    <span class="icon-container menu-icon mobile-only">
        <img src="/assets/search.png" alt="Menu" class="icon" />
    </span>
    <div class="popup-search mobile-only">
        <input type="text" class="search" />
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">0</li>
                    <li class="glide__slide">1</li>
                    <li class="glide__slide">2</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
