<nav class="navbar">
    <a href="/" class="icon-container">
        <img src="/assets/logo.png" alt="logo" class="icon" />
    </a>
    <form action="/search?source=hp" method="post" class="popup_container">
        <input type="text" class="search-bar" name="movieSearch" />
        <button type="submit" class="icon-container submit_button">
            <img src="/assets/submit.png" alt="submit" class="icon" />
        </button>
    </form>
    <span class="icon-container menu-icon mobile-only">
        <img src="/assets/search.png" alt="Menu" class="icon" />
    </span>
</nav>
