<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/stylesheets/home.css" />
        <title>Movie Page</title>

        <script src="/javascript/homePage.js" defer></script>
    </head>
    <body>
        <% include('partials/navbar') %>
        <main class="main-page">
            <h1>Now Playing</h1>
            <div class="films-container">
                <% data.forEach((movie) => { %>
                <div class="film"">
                    <a href="/movie/<%= movie.id %>">
                        <img
                            src="<%= imageBaseUrl + movie.poster_path %>"
                            class="film__img"
                        />
                        <h3 class="film__title"><%= movie.title %></h3>
                    </a>
                </div>
                <% }) %>
            </div>
        </main>
    </body>
</html>
