:root {
    --clr-base: #272640;
    --clr-secondary: #3e1f47;
    --clr-front-bright: #f1f1f1;
    --clr-front-dark: #bcbcbc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 16px;
}

img {
    max-width: 100%;
}

@media all and (min-width: 700px) {
    html {
        font-size: 20px;
    }
}
a {
    text-decoration: none;
}
input:focus {
    outline: none;
}
