:root {
    --clr-base: #272640;
    --clr-secondary: #3e1f47;
    --clr-front-bright: #006466;
    --clr-front-dark: #144552;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 16px;
}

img {
    max-width: 100%;
}
